[Desktop Entry]
Encoding=UTF-8
Version=0.1
Type=Application
Name=Color Flood
Exec=/usr/bin/colorflood
Icon=colorflood
StartupWMClass=colorflood
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
Terminal=false

